header + main {
	margin-block-start: 1rem;
}

.frame {
	background-color: #aaa3;
	padding         : 1.25rem 1.5rem;

	> :first-child {
		margin-block-start: 0;
	}
	> :last-child {
		margin-block-end: 0;
	}
}

aside {
	> div {
		margin-block: 1rem;
	}

	label:has(+ label) {
		margin-inline-end: 0.5rem;
	}
}

textarea#output {
	width: 100%;
}

table#board {
	--cell-size: 0.85rem;

	td {
		width : var(--cell-size);
		height: var(--cell-size);
		border: 1px solid #aaa;

		padding: 0;
	}

	@for $i from 0 through 99 {
		tr.p#{$i} {
			td:nth-child(#{$i + 1}) {
				background-color: #aaa;
			}
		}
	}
}

table.small#board {
	--cell-size: 0.5rem;
}

label {
	user-select: none;
}

.solver-options {
	display  : flex;
	flex-wrap: wrap;
	gap      : 1rem;
}

.switchable:not(:has(input:checked)) {
	input[type="number"] {
		opacity: 0.5;
		pointer-events: none;
	}
}
